*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(129, 86, 217);
    font-family: sans-serif;
    outline: none;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #ecf0f3;
    padding: 15px; 
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(5,68px);
}

input{
    grid-column: span 5;
    height: 80px;
    width: 290px;
    background-color: #575555;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

button{
    height: 52px;
    width: 52px;
    background-color: #ffffff;
    box-shadow:  -5px -5px 12px #ffffff,
                  5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 25%;
    margin: 8px;
    font-size: 16px;
}

.equal{
    width: 115px;
    border-radius: 22%;
    box-shadow:  -5px -5px 12px #ffffff,
                    5px 5px 12px rgba(0,0,0,.16);
                  

}